@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  
}



.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  display: inline-block;
  width: 80px;
  height: 80px;

}
.loader:after {
  content: "🐮";
  display: block;
  font-size: 64px;
  text-align: center;
  
  animation: loader 1.2s linear infinite;
}

.post-section {
  width: 25%;
  margin: auto;
  margin-top: 5%;
}

.name-section {
  width: 25%;
  margin: auto;
}

.nav-button {
  cursor: pointer;
  text-align: right;
  color: black;
  font-weight: 700;
  transition: 0.3s;
  margin: 1vmin;
}



.logo {
  font-size: 32px;
  cursor: pointer;
  display: inline;
  width: 40px;
  height: auto;
  vertical-align: middle;
  
}

.title {
  margin: 15px;
  display: inline;
  font-weight: 900;
  font-family: Lato;
  vertical-align: middle;
}

.nav {
  background-color: #FFE74C;
  padding: 5px;
  width: 100%;
  margin-top: 0;
  position: fixed;
  top: 0;
}

.nav p {
  vertical-align: middle;
}


.nav-buttons {
  vertical-align: middle;
  margin-right: 15px;
  height: 100%;
  float: right;
  display: flex;
  
}


.nav-button:hover {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 1px grey;
}

.logout-button {
  display: inline-block;
}

textarea {
  margin: 5px;
  border: none;
  border-bottom: solid grey 2px;
  transition: 0.3s;
  width: 100%;
  padding: 10px;
}

textarea:focus {
  
  outline:none;
  border-bottom: solid #FFE74C 2px;
}

.messages {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.message {
  width: 50%;
  margin: auto;
  background-color: white;
  box-shadow: 1px 1px 10px #888888;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.message:hover {
  background-color: #FFE74C;
}

.upvote {
  width: 15px;
  height: auto;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
