.login-container {
    width: 25%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorMsg {
    color: rgb(250, 44, 44);
}

input {
    margin: 5px;
    padding: 10px;
    border:none;
    border-bottom: solid grey 2px;
    width: 100%;
    transition: 0.2s;

}

input:focus {
    outline:none;
    border-bottom: solid #FFE74C 2px;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #FFE74C;
    padding: 10px;
    margin: 5px;
    transition: 0.3s;
}

.loginBtn {
    
    width: 25%;
    
}

button:hover {
    box-shadow: 1px 1px 3px grey;
}

p {
    margin: 5px;
    color: black;
}

span {
    color: #FFE74C;
    cursor: pointer;
}